extends layout

block content
  // .navbar.navbar-fixed-top
  //   .navbar-inner
  //     .container
  //       a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
  //         span.icon-bar
  //         span.icon-bar
  //         span.icon-bar
  //       a.brand(href="/") Weibo Backup
  //       .nav-collapse
  //         ul.nav
  //         ul.nav.pull-right

  .container
    #main
      .page-header
        h3 Profile
      .row
        .span12
          .progress.progress-striped.progress-info.hide
            .bar(style="width: 0")
          pre 
            | #{JSON.stringify(user, null, 2)}
      .row
        .span12
          pre
            | #{JSON.stringify(weibo, null, 2)}

