.profile
  margin-left: -81px
  padding-left: 16px

.profile .description
  font-size: 15px
  width: 437px
  line-height: 22px

.weibos
  margin-top: 60px

.weibo
  margin-bottom: 25px

.weibo .thumbnail
  cursor: pointer
  margin-top: 8px
  width: 120px
  background-color: #e8e8e8
  border: 1px solid #e6e6e6

.weibo .well
  margin-bottom: 0px
  margin-top: 18px
  padding: 14px
  font-size: 14px
  line-height: 22px
  background-color: #dbdbdb

.weibo .well .well
  background-color: #cfcfcf
  //background-color: #dbdbdb
  //background-color: #e8e8e8

.weibo .info
  color: #666
  border-bottom: 1px dot #e6e6e6
  padding: 5px 12px 10px 5px
  overflow: auto
  font-size: 13px
  line-height: 18px

.modal
  width: auto !important
  max-width: 560px !important
  max-height: -1 !important

.modal img
  cursor: pointer

.sync-progress
  margin-top: 2px
  color: #bbb

.progress 
  height: 5px
  margin-bottom: 8px

.pagination
  margin: 5px 0

.pagination a
  color: #a8a8a8

.pagination ul :first-child a
  font-size: 18px

.pagination ul :last-child a
  font-size: 18px

@media (min-width: 1200px)
  .row
    margin-left: -40px
